extends layout

block content
    h1 !{title}: !{company.name}
    ul
        li
            p Name: !{company.name}
        li
            p Careers: 
                a(href=company.job_url target='_blank') !{company.job_url}
        li
            p Location: !{company.city}, !{company.state}
        li
            p Home Page: 
                a(href=company.home_url target='_blank') !{company.home_url}

    hr
    p
        a.text-danger(href=company.url+'/delete') Delete Company
    p
        a(href=company.url+'/update') Update Company