extends layout

block content
    h1= title
    ul
        each company in companies
            li
                a(href=company.url) !{company.name}
                |  (career site: 
                a(href=company.job_url) !{company.job_url}
                |  )
                
            p -- !{company.city}, !{company.state}
        else
            li
                p There are no companies.