extends layout

block content
    h1= title
    form(method='POST', action='')
        div.form-group
            label(for='name') Company Name:
            input#name.form-control(
                type='text' placeholder='Company name' 
                name='name' required='true' 
                value=(undefined===company ? '' : company.name)
            )
        div.form-group
            label(for='job_url') Job Url:
            input#job_url.form-control(
                type='text' placeholder='Company Careers Site' 
                name='job_url' required='true'
                value=(undefined===company ? '' : company.job_url)
            )
        div.form-group
            label(for='city') Company City:
            input#city.form-control(
                type='text' placeholder='Company City (New York)' 
                city='city' required='true' 
                value=(undefined===company ? '' : company.city)
            )
        div.form-group
            label(for='state') Company State:
            input#state.form-control(
                type='text' placeholder='Company State abbr. (e.g. NY)' 
                state='state' required='true' 
                value=(undefined===company ? '' : company.state)
            )
        div.form-group
            label(for='home_url') Home Url:
            input#home_url.form-control(
                type='text' placeholder='Company Home' 
                name='home_url' required='true'
                value=(undefined===company ? '' : company.home_url)
            )
        button.btn.btn-primary(type='submit') Submit

        if errors 
            ul
            for error in errors
                li.text-danger!= error.msg